<footer>
	<nav class="footer-main">
		<div class="footer-content">
			<a href="" class="footer.names">
				<h1>
					<span id="footer-name1">Manga</span
					><span id="footer-name2">Xpress</span>
				</h1>
			</a>
			<p>Sua loja de compras online de mangas!</p>
			<ul class="footer-social-media">
				<li>
					<a href="#"><i class="fa fa-facebook"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-instagram"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-twitter"></i></a>
				</li>
			</ul>
		</div>
		<div class="footer-end">
			<p>MangaXpress &copy;2022</p>
		</div>
	</nav>
</footer>
