<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../assets/css/table_style.css" />
		<title>Gerenciar Usuários - MangaXpress</title>
	</head>
	<body>
		<div class="admin">
			<a href="#">Cadastrar usuário</a>
			<input type="text" name="" id="" placeholder="Digite o filtro" />
		</div>
		<table class="content-table">
			<thead>
				<tr>
					<th>#</th>
					<th>NOME</th>
					<th>EMAIL</th>
					<th>DATA DE CADASTRO</th>
					<th colspan="2">AÇÕES</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Administrador</td>
					<td>admin@admin.com</td>
					<td>16/11/2022</td>
					<td><a href="#">EDITAR</a></td>
					<td><a href="#">DELETAR</a></td>
				</tr>
				<tr>
					<td>2</td>
					<td>jotave</td>
					<td>jotave@hotmail.com</td>
					<td>16/11/2022</td>
					<td><a href="#">EDITAR</a></td>
					<td><a href="#">DELETAR</a></td>
				</tr>
				<tr>
					<td>3</td>
					<td>maiajota</td>
					<td>maiajota@hotmail.com</td>
					<td>16/11/2022</td>
					<td><a href="#">EDITAR</a></td>
					<td><a href="#">DELETAR</a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
